<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Ahli</title>
  </head>
  <body>
    <p>tambah ahli</p>
    <form method="POST">
      {% for col in headers %}
        {% if col != 'kode_ahli' %}
          <label for="{{ col }}">{{ col }}</label>
          <input type="number" name="{{ col }}" />
        {% endif %}
      {% endfor %}
      <button type="submit">tambah</button>
    </form>
  </body>
</html>
