@tailwind base;
@tailwind components;
@tailwind utilities;

th {
  text-align: center !important;
}
td {
  text-align: center !important;
}

.sidebar-collapsed {
  width: 4rem !important;
}

.sidebar-collapsed .menu-text {
  display: none;
}

.sidebar-collapsed #logoContainer {
  font-size: small;
  padding-left: 7px;
}

.sidebar-collapsed #mainContent {
  margin-left: 0px;
  width: 100%;
}

.icon-rotate {
  transform: rotate(180deg);
}

#table thead th {
  width: auto !important; /* Membuat setiap th di thead menyesuaikan lebar */
}
