<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <h2>edit kriteria</h2>
    <form method="POST">
      <label for="">kriteria</label><input type="text" name="kriteria" value="{{ data.kriteria }}" />
      <button type="submit">update</button>
    </form>
  </body>
</html>
