<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah</title>
  </head>
  <body>
    <h2>tambah kriteria</h2>
    <form method="POST">
      <label for="">kriteria</label><input type="text" name="kriteria" />
      <button type="submit">tambah</button>
    </form>
  </body>
</html>
