<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/tambah">tambah</a>
    <table border="1">
      <tr>
        <th>No</th>
        <th>Kriteria</th>
        <th>aksi</th>
      </tr>
      {% for row in data %}
        <tr>
          <td>{{ loop.index0 + 1 }}</td>
          <td>{{ row.kriteria }}</td>
          <td>
            <a href=" {{ url_for('edit', id=loop.index0) }} ">edit</a>
            <a href="{{ url_for('hapus', id=loop.index0) }}">hapus</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
