<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swara</title>
  </head>
  <body>
    <h1>Data Swara</h1>
    <a href="/">kriteria</a>
    <a href="/ahli">ahli</a>
    <table>
      <tr>
        <th>no</th>
        <th>kriteria</th>
      </tr>
      {% for row in data %}
        <tr>
          <td>{{ loop.index0 + 1 }}</td>
          <td>{{ row.kriteria }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
